# folders and files to be ignored by git


############
## IDEs
############

*.pydevproject
.project
.metadata
*.swp
*~.nib
local.properties
.classpath
.settings/
.loadpath
.externalToolBuilders/
*.launch
.cproject
.buildpath
nbproject/
.env

############
## OSes
############

[Tt]humbs.db
[Dd]esktop.ini
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db

########################
## Composer, Bower & Node
########################

/vendor
/vendor/*
/library/vendor
/library/vendor/
/library/vendor/*
/assets/vendor/
/assets/vendor/*
/node_modules/
/assets/node_modules/

############
## Misc
############

bin/
tmp/
*.tmp
*.bak
*.log
*.[Cc]ache
*.cpr
*.orig
*.php.in
.idea/
temp/
._*
.Trashes

.svn

*.codekit
*.scssc
