// Colors
$color-dark: black !default;
$color-dark-alt: lighten($color-dark, 20%) !default;
$color-light: #EEE !default;
$color-light-alt: darken($color-light, 20%) !default;
$color-error: #E22;

$color-brand: #176276;
$color-brand-light: #0CA7CF;
$color-brand-lighter: #98CADB;