// Fonts
$font-header: 'Arial', sans-serif !default;
$font-body: 'Arial', sans-serif !default;
$font-header-alt: $font-header !default;
$font-body-alt: $font-body !default;
$font-small: $font-body !default;