section#login, section#register 
{
  min-height:60vh;
  margin-top:120px;
  margin-bottom:7rem;
  background:#eee;
  box-shadow:0 2px 5px rgba(0,0,0,0.1), 0 12px 27px rgba(0,0,0,0.12);
  
  
  h2, h3 {
    text-align:center;
  }

  h2 {
    padding-top:2rem;
    margin-bottom:0;
    padding-bottom:0;
  }
  h3 {
    font-size: 1rem;
    margin:1rem 0;
    opacity: 0.8;
  }
  
  form {

    padding:2rem;
    text-align:center;
    

    select {
      border-radius:1rem;
    }

    .form-error {
      color:$color-error;
      padding:0.25rem 1rem;
      border:1px solid $color-error;
      margin-bottom:0.25rem;
      background:lighten($color-error, 40%);
      border-radius:1rem;
    }

    .btn {
      font-size: 1.2rem;
      border-radius: 5rem;
      letter-spacing: .1rem;
      font-weight: 600;
      padding: 1rem;
      transition: all 0.2s;
      text-transform:uppercase;
    }
      
    .form-label-group {

      position: relative;
      margin-bottom: 1rem;
      text-align:left;

      input {
        padding:2rem 1rem 1rem 1.5rem;
        border-radius: 2rem;
        background:#f7f7f7;

        &::placeholder {
          color:transparent;
        }
      }

      /* input[type="checkbox"] 
      {
        border:1px solid black;
        appearance: none;
        background-color: #fafafa;
        border: 1px solid #cacece;
        box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0px -15px 10px -12px rgba(0,0,0,0.05);
        padding: 9px;
        border-radius: 3px;
        display: inline-block;
        position: relative;
      } */

      label {
        position: absolute;
        user-select:none;
        pointer-events:none;
        top: 0;
        padding-top:0.75rem;
        left: 1.5rem;
        display: block;
        width: 100%;
        margin-bottom: 0;
        /* Override default `<label>` margin */
        line-height: 1.5;
        color: #495057;
        border: 1px solid transparent;
        border-radius: .25rem;
        transition: all .1s ease-in-out;

         &.filled {
          padding-top:0.2rem;
          padding-bottom:1rem;
          font-size:0.8rem;
        }
      }

      &.error {
        input {
          border-color:$color-error;
        }

        label {
          color:$color-error;
        }
      }
    }


    .liability-waiver {
      max-height:200px;
      overflow-x:hidden;
      overflow-y:auto;
      text-align:left;
      background:lighten($color-light, 2%);
      font-size:0.9rem;
      padding:0.5rem;
      margin-bottom:1rem;

      /* width */
      &::-webkit-scrollbar {
          width: 5px;
      }

      /* Track */
      &::-webkit-scrollbar-track {
          background: #f1f1f1; 
      }

      /* Handle */
      &::-webkit-scrollbar-thumb {
          background: #888; 
      }

      /* Handle on hover */
      &::-webkit-scrollbar-thumb:hover {
          background: #555; 
      }
    }


    .checkbox-agreement
    {
      border:1px dashed $color-dark-alt;
      
      &.error {
        border-color: $color-error;
        background-color: lighten($color-error, 50%);
      }

      .custom-control-input 
      {
        &:checked ~ .custom-control-label {

          &:before {

          }

          &:after {
            background-color:$color-brand;
          }

        }
      }

      label {
        margin:1rem 0;
        width:90%;
        font-weight:bold;
        cursor: pointer;
        user-select:none;

        &:before 
        {
          padding:0;
          margin:0;
          margin-left:0.5rem;
        }
        &:after 
        {
          background-color:#CCC;
          border:1px solid #888;
          margin:0;
          padding:0;
          margin-left:0.5rem;
        }

        &:checked 
        {
          &:after {
            background-color:$color-brand;
          }
        }
      }
    }

  }


  .mindbody {
    text-align:center;
    padding:2rem;
    img {
      width:240px;
    }
  }
}